@-moz-keyframes ka-moving {
  0% {
    left: 0;
    top: 0;
  }

  25% {
    left: 200px;
    top: 350px;
  }

  50% {
    left: 150px;
    top: 500px;
  }

  75% {
    left: 400px;
    top: 420px;
  }

  100% {
    left: 280px;
    top: 620px;
  }
}
#fullpage {
  font-family: 'Nixie One', cursive;
}

#section1 {
  background: #C9FFBF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c9ffbf, #ffafbd);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c9ffbf, #ffafbd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
#section1 i {
  color: #0DAE8B;
}

#section2 {
  background: #EFEFBB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #efefbb, #d4d3dd);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #efefbb, #d4d3dd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px;
}
#section2 .dropdown {
  position: absolute;
}
#section2 .dropdown i {
  color: #78C6B5;
}
#section2 .small-logo {
  position: absolute;
  top: 30px;
}
#section2 img {
  margin: 0 auto;
  max-width: 1000px;
  display: block;
  margin-top: -20px;
}

#section3 {
  background: #F1F2B5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f1f2b5, #135058);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f1f2b5, #135058);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px;
}
#section3 div {
  position: absolute;
}
#section3 div i {
  color: #78C6B5;
}
#section3 #section3-img {
  margin-top: 80px;
}

#section4 {
  background: #70e1f5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #70e1f5, #ffd194);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #70e1f5, #ffd194);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section {
  position: relative;
  text-align: center;
}
.section #scroll1 {
  position: absolute;
  bottom: 13px;
}
.section #scroll2 {
  position: absolute;
  bottom: 45px;
}
.section #scroll3 {
  position: absolute;
  bottom: 13px;
}

body {
  font-family: 'Nixie One', cursive;
}

/* Container */
.header {
  position: relative;
  width: 100%;
}

.menu-container {
  position: relative;
  padding-left: 10px;
  width: 100px;
  padding-top: 20px;
  float: left;
}

/* Hamberger Menu */
.menu {
  position: relative;
  width: 50px;
  height: 40px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.25s ease;
  transform-origin: center;
  z-index: 1000;
}
.menu:before, .menu:after {
  content: "";
  width: 50px;
  height: 7px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;
  transition: all 0.25s ease;
}
.menu:hover {
  transform: scale(1.1);
}
.menu.active {
  border-color: transparent;
}

/* Fullscreen Menu */
.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.25s ease;
  opacity: 0;
}
.fullscreen-menu ul {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.fullscreen-menu ul li {
  transition: all 0.5s ease;
  opacity: 0;
}
.fullscreen-menu ul li:nth-child(1) {
  transition-delay: 0.05s;
  transform: translateX(15%);
  list-style: none;
}
.fullscreen-menu ul li:nth-child(2) {
  transition-delay: 0.1s;
  transform: translateX(15%);
  list-style: none;
}
.fullscreen-menu ul li:nth-child(3) {
  transition-delay: 0.15s;
  transform: translateX(15%);
  list-style: none;
}
.fullscreen-menu ul li:nth-child(4) {
  transition-delay: 0.2s;
  transform: translateX(15%);
  list-style: none;
}
.fullscreen-menu ul li:nth-child(5) {
  transition-delay: 0.25s;
  transform: translateX(15%);
  list-style: none;
}
.fullscreen-menu ul li a {
  color: white;
  text-decoration: none;
  line-height: 2em;
  font-size: 20px;
  letter-spacing: 0.05em;
}
.fullscreen-menu.active {
  opacity: 1;
}
.fullscreen-menu.active ul li {
  transform: translateY(0%);
  opacity: 1;
}

.movile-nav {
  position: absolute;
}

#mobile-logo {
  position: relative;
  float: right;
  width: 150px;
  padding-right: 10px;
  margin-right: 20px;
}

#nav-container {
  display: none;
}

#about div:first-child {
  max-width: 250px;
  max-height: 350px;
  clear: both;
}
#about div:first-child img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 20px;
}
#about div:last-child {
  max-width: 300px;
}
#about div:last-child h2 {
  margin-top: 20px;
  text-align: center;
}

footer {
  max-width: 300px;
  margin: 0 auto;
}

#about div:first-child {
  width: 300px;
  height: 400px;
  margin: 0 auto;
}
#about div:first-child img {
  max-width: 100%;
  max-height: 100%;
}
#about div:last-child {
  max-width: 700px;
  margin: 0 auto;
}
#about div:last-child p {
  font-family: 'Titillium Web', sans-serif;
}
#about div:last-child h2 {
  font-family: 'Cinzel', serif;
  margin-top: 20px;
}
#about div:last-child .link-cv {
  color: #333;
  font-family: 'Titillium Web', sans-serif;
}

footer {
  font-family: 'Nixie One', cursive;
  font-size: 12px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
footer i {
  color: #78C6B5;
  margin: 10px;
  font-size: 20px;
}

@media all and (min-width: 750px) {
  .mobile-nav {
    display: none;
  }

  #nav-container {
    display: block;
  }

  ul {
    list-style: none;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-family: 'Nixie One', cursive;
  }

  li {
    display: inline-block;
    vertical-align: top;
    margin: 25px 20px;
  }
  li:nth-child(3) {
    margin-top: 0;
  }

  li.highlight a {
    color: #78C6B5;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  a:hover {
    color: #78C6B5;
  }

  #about div:first-child {
    min-width: 400px;
    min-height: 480px;
    clear: both;
    text-align: center;
  }
  #about div:first-child img {
    max-width: 100%;
    max-height: 100%;
  }
  #about div:last-child {
    max-width: 600px;
  }
  #about div:last-child h2 {
    margin-top: 50px;
    text-align: center;
  }
}
@media all and (min-width: 1010px) {
  .mobile-nav {
    display: none;
  }

  #nav-container {
    display: block;
  }

  ul {
    list-style: none;
    max-width: 950px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-family: 'Nixie One', cursive;
  }

  li {
    display: inline-block;
    vertical-align: top;
    margin: 20px 40px;
  }
  li:nth-child(3) {
    margin-top: -10px;
  }

  li.highlight a {
    color: #78C6B5;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  a:hover {
    color: #78C6B5;
  }

  #about div:last-child {
    max-width: 800px;
  }
  #about div:last-child h2 {
    margin-top: 50px;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
