
#fullpage {
	font-family: 'Nixie One', cursive;
}


#section1 {


background: #C9FFBF; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #C9FFBF , #FFAFBD); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #C9FFBF , #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
text-align: center;   
	
	i {
		color: #0DAE8B;
	}
}

#section2 {


background: #EFEFBB; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EFEFBB , #D4D3DD); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EFEFBB , #D4D3DD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 20px;

	div {
		position: absolute;

		i {
		color: #78C6B5;
		}
	}

        
}

#section3 {


background: #F1F2B5; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F1F2B5 , #135058); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F1F2B5 , #135058); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 20px;

	div {
		position: absolute;

		i {
		color: #78C6B5;
		}
	}
        
}

#section4 {

background: #70e1f5; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

}
.section {
	position: relative;


	#scroll {
	position: absolute;
	bottom: 13px;
	}

}

ul {

	list-style: none;
	width: 1000px;
	// background-color: yellow;
	margin: 0 auto;
	text-align: center;
	font-family: 'Nixie One', cursive;

	li {
		display: inline-block;
		vertical-align: top;
		margin: 35px 30px;
		&:nth-child(3){
		margin-top: 0;
	}

	}
	

	a {
		text-decoration: none;
		color: #333;
	}

}



















