@-moz-keyframes ka-moving {
	
	0%{
		left: 0;
		top: 0;
	}
	25%{
		left: 200px;
		top: 350px;
	}
	50%{
		left: 150px;
		top: 500px;
	}
	75%{
		left: 400px;
		top: 420px;
	}
	100%{
		left: 280px;
		top: 620px;
	}
}

#fullpage {
	font-family: 'Nixie One', cursive;
}

#section1 {


background: #C9FFBF; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #C9FFBF , #FFAFBD); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #C9FFBF , #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
text-align: center;   
	
	i {
		color: #0DAE8B;
	}

}

#section2 {


background: #EFEFBB; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EFEFBB , #D4D3DD); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EFEFBB , #D4D3DD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 20px;

	.dropdown {
		position: absolute;

		i {
		color: #78C6B5;
		}
	}

	.small-logo {
		position: absolute;
		top: 10px;
	}

	#love {
		width: 300px;
		margin: 0 auto;
		margin-top: -100px;
		margin-bottom: 20px;
		padding-left: 50px;
		font-size: 50px;
	}

	p {
		font-size: 35px;
		letter-spacing: 5px;

	}

	#love-ko {
			span:nth-child(1) {
				color: #e84948;
			}
			span:nth-child(2) {
				color: #4a90e2;
			}

			float: left;
			margin-left: 320px;
			margin-top: 100px;

		}

	#love-nz {

			span:nth-child(1) {
				color: #b33544;
			}
			span:nth-child(2) {
				color: #1c1162;
			}

			float: right;
			margin-right: 320px;
			margin-top: 200px;
		}

	#nz-img {
			width: 520px;
			height: 380px;
		
		
		img {
			max-width: 100%;
			max-height: 100%;

		}
	}

	#love-img-container {
		width: 1200px;
		margin: 0 auto;
		text-align: center;

			div {
				display: inline-block;
				margin: 10px;
			}

			#ko-img {
				vertical-align: 100%;
			}

	}



        
}

#section3 {


background: #F1F2B5; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F1F2B5 , #135058); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F1F2B5 , #135058); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 20px;

	div {
		position: absolute;

		i {
		color: #78C6B5;
		}
	}
        
}

#section4 {

background: #70e1f5; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

}
.section {
	position: relative;


	#scroll {
	position: absolute;
	bottom: 13px;
	}

	#ka1 {
	position: absolute;
	top: 0;
	animation-name: ka-moving;
  	animation-duration: 2s;
  	animation-timing-function: ease-in-out;
 	animation-delay: .5s;
	}

}


// about page
ul {

	list-style: none;
	width: 1000px;
	// background-color: yellow;
	margin: 0 auto;
	text-align: center;
	font-family: 'Nixie One', cursive;

	li {
		display: inline-block;
		vertical-align: top;
		margin: 35px 30px;
		&:nth-child(3){
		margin-top: 0;
		}

	}

	li.highlight a {
		color: #78C6B5;
	}
	
	a {
		text-decoration: none;
		color: #333;
	}

	a:hover{
		color: #78C6B5;
	}

}


// About page

#about {

	div:first-child {
		width: 300px;
		height: 400px;
		margin: 0 auto;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	div:last-child {

		width: 700px;
		margin: 0 auto;

			p {
			font-family: 'Titillium Web', sans-serif;
			}

			h2 {
			font-family: 'Cinzel', serif;
			margin-top: 20px;
			}

			.link-cv {
			color: #333;
			font-family: 'Titillium Web', sans-serif;
			}
	}
}

// footer 

footer {
	font-family: 'Nixie One', cursive;
	font-size: 12px;
	width: 500px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;

	i {
		color: #78C6B5;
		margin: 10px;
		font-size: 20px;
	}
}





















